
body{
    background-color:grey;
    margin:0%
}
#top{
    background-color: #33334d;
    max-width: 100%;
    
}
nav>ul{
    list-style-type: none;
    overflow: hidden;
    
    margin: 0;
    padding: 0;
}
li{
    float: left;
}
li a{
    display: block;
    padding:0.5rem;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
a:hover{
    color: white;
    box-shadow: 0 5px 15px #afe0f5;
}