/*top nav start*/
body{
    background-color:grey;
    margin:0%
}
#top{
    background-color: #33334d;
    max-width: 100%;
    
}
#top>#list{
    list-style-type: none;
    overflow: hidden;
    
    margin: 0;
    padding: 0;
}
.l-data{
    float: left;
}
.l-data a{
    display: block;
    padding:0.5rem;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
a:hover{
    color: white;
    box-shadow: 0 5px 15px #afe0f5;
}
/*top nav end*/

/*side nav start*/
.l-data2{
   list-style-type: none;
   display: block;
   float: left;
}
.l-data2{
    clear: both;
}
#list2{
    margin: 0;  
    padding: 0;
}
/*side nav end*/